rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Los usuarios pueden leer y escribir sus propios datos
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      // También permite el acceso a subcolecciones como 'missions'
      match /{allPaths=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
